/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
}

/*drop Down*/
.drop-show {
    display: block;
}

.drop-hide {
    display: none;
}

.hide-br {
    display: block;
}

.show_br {
    display: none;
}

.mar-left {
    margin-left: 55px
}

.dropbtn {
    background-color: #99CC04;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    float: left;
    right: 0px;
}

.dropdown-content a {
    color: black;
    padding: 5px 8px;
    font-size: 14px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #99CC04;
}

/*drop dowm end*/
.green-circle-text {
    padding: 3px;
    padding-top: 12px;
    font-family: Roboto-Regular
}

@font-face {
    font-family: "Roboto-black";
    src: url("../fonts/Roboto-Black.ttf")
}

@font-face {
    font-family: "Roboto-BlackItalic";
    src: url("../fonts/Roboto-BlackItalic.ttf")
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf")
}

@font-face {
    font-family: "Roboto-BoldItalic";
    src: url("../fonts/Roboto-BoldItalic.ttf")
}

@font-face {
    font-family: "Roboto-Italic";
    src: url("../fonts/Roboto-Italic.ttf")
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../fonts/Roboto-Light.ttf")
}

@font-face {
    font-family: "Roboto-LightItalic";
    src: url("../fonts/Roboto-LightItalic.ttf")
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../fonts/Roboto-Medium.ttf")
}

@font-face {
    font-family: "Roboto-MediumItalic";
    src: url("../fonts/Roboto-MediumItalic.ttf")
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf")
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../fonts/Roboto-Thin.ttf")
}

@font-face {
    font-family: "Roboto-ThinItalic";
    src: url("../fonts/Roboto-ThinItalic.ttf")
}

/*Fonts*/
@font-face {
    font-family: "Ubuntu-B";
    src: url("../fonts/Ubuntu-B.ttf")
}

@font-face {
    font-family: "Ubuntu-BI";
    src: url("../fonts/Ubuntu-BI.ttf")
}

@font-face {
    font-family: "Ubuntu-c";
    src: url("../fonts/Ubuntu-C.ttf")
}

@font-face {
    font-family: "Ubuntu-L";
    src: url("../fonts/Ubuntu-L.ttf")
}

@font-face {
    font-family: "Ubuntu-LI";
    src: url("../fonts/Ubuntu-LI.ttf")
}

@font-face {
    font-family: "Ubuntu-M";
    src: url("../fonts/Ubuntu-M.ttf")
}

@font-face {
    font-family: "Ubuntu-MI";
    src: url("/fonts/Ubuntu-MI.ttf")
}

@font-face {
    font-family: "UbuntuMono-B";
    src: url("../fonts/UbuntuMono-B.ttf")
}

@font-face {
    font-family: "UbuntuMono-BI.ttf";
    src: url("../fonts/UbuntuMono-BI.ttf")
}

@font-face {
    font-family: "UbuntuMono-R";
    src: url("../fonts/UbuntuMono-R.ttf")
}

@font-face {
    font-family: "UbuntuMono-RI";
    src: url("../fonts/UbuntuMono-RI.ttf")
}

@font-face {
    font-family: "Ubuntu-R";
    src: url("../fonts/Ubuntu-R.ttf")
}

@font-face {
    font-family: "Ubuntu-RI";
    src: url("../fonts/Ubuntu-RI.ttf")
}

/*End*/

.hide-paragraph {
    display: block;
}

.show-paragraph {
    display: none;
}

.mc-wrapper {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 8px;
}

.header-section {
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    padding: 15px;
    margin: 0px;
    /*-webkit-box-shadow: 0px 10px 5px -4px #d4dfe9;
    -moz-box-shadow: 0px 10px 5px -4px #d4dfe9;
    box-shadow: 0px 10px 5px -4px #d4dfe9*/;
    color: #828282;
}

.main-text-img {
    width: 100%;
}

.header-a {
    color: #828282;
    text-align: left !important;
}

.header-a:hover {
    color: #215299;
}

.tech-div-set {
    position: relative;
    top: 150px;
}

.try-assessment {
    background-color: #99CC04;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 16px 26px;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Roboto-Medium";
}

.try-assessment:hover {
    color: #ffffff;
    text-decoration: none;
}

.try-assessment:active {
    color: #ffffff;
    text-decoration: none;
}

.view-sample {
    background-color: #0B84C7;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 16px;
    border-radius: 4px;
    text-decoration: none;
    font-family: "Roboto-Medium";
}

.view-sample:hover {
    color: #ffffff;
    text-decoration: none;
}

.view-sample:active {
    color: #ffffff;
    text-decoration: none;
}

.tech-text {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    font-family: roboto-bold;
}

.good-text {
    color: #99CC04;
    font-size: 23px;
    font-family: "Roboto-Regular";
}

.old-school {
    color: #363B3d;
    font-size: 28px;
    font-family: "Roboto-Regular";
}

.blue-text {
    font-family: "Roboto-Medium";
    color: #2E89BA;
    font-size: 28px;
}

.wrong-text {

    font-size: 20px;
    color: #272D30;
    padding: 18px 0px;
    font-family: "Roboto-black";
}

.paragraph-text {
    color: #7B7B7B;
    font-size: 18px;
    font-family: "Roboto-BlackItalic";
}

.girl-img {
    height: 330px;
}

.talk-bubble {
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    width: 260px;
    height: auto;
    padding: 14px 20px;
    background-color: #99CC04;
    color: #ffffff;
    text-align: center;
    font-weight: bolder;
    font-size: 21px;
    font-family: "Roboto-Thin";
}

.border {
    border: 1px solid #99CC04;
}

.round {
    border-radius: 8px;
    -moz-border-radius: 8px;

}

/*Right triangle, placed bottom left side slightly in*/
.tri-right.border.btm-left-in:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 20px;
    top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #99CC04 transparent transparent #99CC04;
}

.help-text {
    color: #666666;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Roboto-Light';
}

.help-text_img {
    height: 14px;
}

.mobile_background_image {
    background: url("back-cover.png") no-repeat;
    background-position: 0% 0%;
    padding: 0px;
    background-size: cover;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background_image {
     background: url("Slider-1.jpg") no-repeat;
     background-position: 0% 0%;
     padding: 0px;
     background-size: cover;
     width: 100%;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     height: 400px
 }



.background_image1 {
    background: url("banner-2.png") no-repeat;
    background-position: 0% 0%;
    padding: 0px;
    background-size: cover;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.headtextall{
    color: white;font-weight: bold;font-family: roboto-bold;font-size: 28px;padding-top: 65px
}

.layer {
    background-color: rgba(15, 13, 6, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff
}

.programmer-text {
    font-size: 20px;
    color: #ffffff;
    font-family: "Roboto-light";
    padding: 7px;
}

.circle-img {
    height: 120px;
}

.white-text {
    font-size: 14px;
    color: #ffffff;
    padding: 10px;
    padding-top: 20px;
    font-family: "Roboto-Regular";
}

.why-java {
    background-color: #99CC04;
    color: white;
    padding: 14px 16px;
    text-align: center;
    max-width: 200px;
    font-size: 20px;
    border-radius: 5px;
    font-family: "Roboto-Light";
}

.p-why-java {
    color: #3E4346;
    font-size: 24px;
    padding: 10px 0px;
    font-family: "Roboto-Regular";
}

.bold-p-why-java {
    color: #22282B;
    font-size: 18px;
    font-family: "Roboto-Medium";
}

.why-mc-th {
    color: #f5f5f5;
    background-color: #0C75AF;
    padding: 12px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-transform: uppercase;
    font-family: "Roboto-Regular";
    /*font-size: 16px;*/

}

.why-mc-tr {
    background-color: #FFFFFF;
    color: #929292;
    border: 1px solid #E5E6E6;
    padding: 7px;
    font-size: 16px;
    font-family: Roboto-Light;
}

.why-mc-td {
     padding: 8px;
     font-family: Roboto-Regular;
     font-size: 16px;
     color: #666666;
 }
.why-mc-td1 {
    padding: 8px;
    font-family: Roboto-Light;
    font-size: 17px;
    color: #666666;
}

.why-mc-img {
    padding-left: 10px;
    height: 20px;

}

.rightsRes_copy_rights {
    text-align: right
}

.footer-lis {
    color: #f5f5f5;
    font-size: 14px;
    padding: 3px;
}

.footer-head {
    color: #89B706;
    font-size: 16px;
    padding: 3px;
}

.footer-lis-a {
    color: #86939A;
    font-size: 14px;
    text-decoration: none;
}

.footer-lis-a:hover {
    color: #86939A;
    font-size: 14px;
    text-decoration: none;
}

.footer-lis-a:active {
    color: #86939A;
    font-size: 14px;
    text-decoration: none;
}

.footer-lis-a1 {
    color: dimgray;
    font-size: 14px;
    text-decoration: none;
}

.footer-lis-a1:hover {
    color: dimgray;
    font-size: 14px;
    text-decoration: none;
}

.footer-lis-a1:active {
    color: dimgray;
    font-size: 14px;
    text-decoration: none;
}

.footer-form {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: 1px solid white;
    background-color: #FFFFFF;
    height: 30px;
    width: 140px;
    color: #000000;

}

.footer-form-sub {
    background-color: #99CC04;
    padding: 5px 10px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px
}

.mc-text {
    font-size: 28px;
    font-family: "Roboto-Bold";
}

.hire-help {
    font-size: 16px;
    color: #303639;
    padding-top: 5px;
    padding-bottom: 10px;
}

.black-arrow {
    width: 50px;
}

/*media screen from Medium(1200-992) */
@media screen and (min-width: 992px) and (max-width: 1200px) {

    .tech-div-set {
        padding-left: 50px;
    }

    .talk-bubble {
        width: 230px;
        padding: 14px 20px;
        font-size: 18px;
    }

    .mar-left {
        margin-left: 40px
    }
}

@media screen and (min-width: 992px) and (max-width: 1125px) {

    .drop-show {
        display: none;

    }

    .drop-hide {
        display: block;
    }
}

/*media screen from Medium(992-768) */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .mar-left {
        margin-left: 20px
    }

    .talk-bubble {
        width: 210px;
        padding: 14px 20px;
        font-size: 18px;

    }

    .tech-div-set {
        padding-left: 50px;
    }

    .old-school {
        font-size: 20px;
    }

    .wrong-text {
        font-size: 16px;
    }

    .paragraph-text {
        font-size: 14px;

    }

    .girl-img {
        height: 280px;
    }

    .drop-show {
        display: none;

    }

    .drop-hide {
        display: block;
    }
}

/*media screen from Small(768-576) */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .mar-left {
        margin-left: auto;
    }

    .background_image {
        height: 400px;
    }

    .tech-div-set {
        padding-left: 50px;
        top: 100px;
    }

    .hide-arrow {
        display: none;
    }

    .center-aline {
        text-align: center;
    }

    .left-pad {
        padding-top: 10px;
        padding-left: 40px;
    }

    .old-school {
        font-size: 22px;
    }

    .wrong-text {
        font-size: 16px;
    }

    .blue-text {
        font-size: 22px;
    }

    .paragraph-text {
        font-size: 15px;

    }

    .girl-img {
        height: 260px;
    }

    .display-hide {
        display: none;
    }

    .circle-img {
        height: 90px;
    }

    .white-text {
        font-size: 12px;
    }

    .p-why-java {
        font-size: 22px;
    }

    .bold-p-why-java {
        font-size: 18px;
    }

    .table-width {
        width: 520px;
    }

    .hide-java {
        display: none;
    }

    .drop-show {
        display: none;

    }

    .drop-hide {
        display: block;
    }
}

/*media screen from Extra small (576-0) */
@media screen and (max-width: 576px) {
    .mar-left {
        margin-left: auto;
    }

    .background_image {
        height: 350px;
    }

    .try-assessment {
        font-size: 10px;
        padding: 12px;

    }

    .view-sample {
        font-size: 10px;
        padding: 12px;

    }

    .tech-text {
        font-size: 24px;
    }

    .good-text {
        font-size: 17px;
    }

    .tech-div-set {
        padding-left: 20px;
        top: 90px;
    }

    .center-aline {
        text-align: center;
    }

    .left-pad {
        padding-top: 10px;
        padding-left: 30px;
    }

    .old-school {
        font-size: 16px;
    }

    .wrong-text {
        font-size: 16px;
    }

    .paragraph-text {
        font-size: 13px;

    }

    .blue-text {
        font-size: 16px;
    }

    .girl-img {
        height: 240px;
    }

    .main-text-img {
        width: 100%;
        height: 320px;
    }

    .display-hide {
        display: none;
    }

    .hire-help {
        font-size: 12px;
    }

    .mc-text {
        font-size: 22px;
    }

    .help-text_img {
        height: 12px;
    }

    .help-text {
        font-size: 10px;
    }

    .circle-img {
        height: 80px;
    }

    .white-text {
        font-size: 10px;
    }

    .programmer-text {
        font-size: 16px;
    }

    .why-java {
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        margin-top: 10px;

    }

    .p-why-java {
        font-size: 15px;
    }

    .bold-p-why-java {
        font-size: 18px;
    }

    .hide-arrow {
        display: none;
    }

    .hide-java {
        display: none;
    }

    .drop-show {
        display: none;

    }

    .drop-hide {
        display: block;
    }

    .hide-paragraph {
        display: none;
    }

    .show-paragraph {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    .hide-br {
        display: none;
    }

    .show_br {
        display: block;
    }

}